body {
  background-color: black;
}

.container {
  background-color: gray;
  height: 100vh;
  margin: 5%;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 3% 5%;
}

#main-form {
  background-color: white;
  height: 10%;
  align-content: space-around;
  justify-content: space-around;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#main-form input,
#option-form input {
  width: 50%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#main-form button,
#option-form button {
  width: 20%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: black;
  color: white;
}

#main-form input,
#main-form button,
#option-form input,
#option-form button {
  height: 40px;
  margin-top: 10px;
}

#arrays,
.btn-div {
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  min-height: 0;
  max-height: fit-content;
  padding: 0.5% 0;
  margin-bottom: 2%;
}

.btn-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.btn-div button {
  background-color: black;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 45%;
  height: 30px;
  margin: 5px auto;
}
